.app-wrapper{
  display: grid;

  width: 1200px;
  margin: 0 auto;

  grid-template-areas: 
  "head head"
  "nav content";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
}

.header{
  grid-area: head;
  background-color: green;
}

.header img {
   width: 60px;
}

.content img {
  width:100%;
}

.nav{
  grid-area: nav;
  background-color: blue;
}

.content {
  grid-area: content; /*просто називаємо */
  background-color: orange;
}